{% extends 'base.html.twig' %}

{% block title %}Hello NoteController!{% endblock %}

{% block body %}
<h3>share note</h3>
<form method="post" action="#">
    <input type="email" name="email" placeholder="user's email"/> <br />
    <input type="submit" value="share" /> <br />
</form>

{% endblock %}
